.table {

}

.header_info {
  height: 80px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
  display: flex;
  padding: 20px;
  align-items: center;
}

.quantity {
  display: flex;
}

.quantity span {
  margin-right: 10px;
  color: rgb(182, 0, 0);
}

.search_box {
  margin: 0 20px;
  display: flex;
  
}

.search_box input {
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  width: 200px;
}

.icon_search {
  height: 40px;
  width: 40px;
  background-color: #ccc;
  text-align: center;
  line-height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.icon_search i {
  padding: 11px;
}

.icon_search:hover {
  background-color: #ddd;
}

.icon_search:active {
  transform: scale(.98);
}

.btn_add {
  background-color: blue;
  height: 35px;
  padding: 0 10px;
  text-align: center;
  line-height: 35px;  
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}

.btn_add:active {
  transform: scale(.98);
}

.main_info {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
  margin-top: 30px;
  height: 470px;
  position: relative;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

tr:hover {
  background-color: coral;
}


.page ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.page ul li {
  height: 30px;
  width: 30px;
  background-color: #aaa;
  margin: 0 10px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.page ul li:active {
  transform: scale(.95);
}

